{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FreeCADxConvert</title>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'tether-1.3.3/dist/js/tether.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"></link>
    <!-- <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script> -->
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.freecad-france.com"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.freecad-france.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.freecad-france.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</head>
<body>
    <div class="container">
        <div class="jumbotron">
        <h1 class="text-center">Visionneuse et convertisseur de modèles 3D</h1>
        <hr class="my-2">
        <p>Choisir un modèle 3D de votre ordinateur puis cliquer sur "Ouvrir"</p>
            <form action="{% url 'preview' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.docfile }}
                <input type="submit" class="btn btn-primary btn-lg" value="Ouvrir" />
                </p>
            </form>
        <!--{% if fcversion %}
        <p class="lead">FreeCAD Version : {{ fcversion }}</p>
        {% else %}
        <p class="lead">NO FreeCAD</p>
        {% endif %}
        <div class="row">
            <div class="col-md-8">
            Upload form. Note enctype attribute! "http://freecad-france.com:9540"
            <form action="{% url 'preview' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.docfile }}</p>
                <!--<p>{{ form.non_field_errors }}</p>
                <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                <p>
                    {{ form.docfile.errors }}
                    {{ form.docfile }}                                            
                </p>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary btn-lg" value="Open" />
            </div>
            </form>
        </div> -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Cette application est développée par <a href="https://www.freecad-france.com">Jonathan Wiedemann</a>.</p>
                <p>Le code source est sous licence LGPL v2.1
                <a href="https://framagit.org/freecad-france/FreeCADxConvert">FreeCADxConvert sur Framagit</a></p>
                <p>Vous en voulez plus ? Want more ?
                <a href="mailto:contact@freecad-france.com">contact@freecad-france.com</a></p>
            </div>
            <div class="col-md-8">
            <table class="table table-striped table-bordered"> 
            <thead> 
                <tr> 
                <td>Formats modèles 3D</td>
                <td>Import</td>
                <td>Export</td>
                </tr> 
            </thead> 
            <tbody>
                <tr>
                    <td><a href = "https://fr.wikipedia.org/wiki/Fichier_de_st%C3%A9r%C3%A9olithographie" > STL ( *.stl ) </a></td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td><a href = "https://fr.wikipedia.org/wiki/Objet_3D_(format_de_fichier)" > OBJ ( *.obj ) </a></td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td><a href = "https://fr.wikipedia.org/wiki/Objet_3D_(format_de_fichier)" > STEP ( *.stp, *.step ) </a></td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://fr.wikipedia.org/wiki/B-Rep" > BREP (*.brp, *.brep) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://fr.wikipedia.org/wiki/Initial_Graphics_Exchange_Specification" > IGES ( *.igs, *.iges ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://fr.wikipedia.org/wiki/Collaborative_Design_Activity" > DAE ( *.dae ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://fr.wikipedia.org/wiki/Industry_Foundation_Classes" > IFC ( *.ifc ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://www.freecad-france.com" > AST ( *.ast ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://www.freecad-france.com" > BMS ( *.bms ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://www.freecad-france.com" > PLY ( *.ply ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
                <tr>
                    <td> <a href = "https://freecadweg.org" > FCSTD ( *.fcstd , *.FCStd ) </a> </td>
                    <td style = "color:green;" > &#10004; </td>
                    <td style = "color:green;" > &#10004; </td>
                </tr>
            </tbody> 
            </table>
            </div>
        </div>
    </div>
</body>
</html>
