<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>FreeCADxConvert - Visionneuse</title>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'tether-1.3.3/dist/js/tether.js' %}"></script>
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet"></link>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.freecad-france.com"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.freecad-france.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.freecad-france.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    {% if webgl %}
        <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r50/three.min.js"></script>  -->
        <script src="{% static 'js/three.min.js' %}"></script>
        <script src="{% static 'js/TrackballControls.js' %}"></script>
        {{ webgl|safe }}
    {% endif %}
    
</head>
<body onload="onLoad();">
    <div class="container">
        <div class="jumbotron">
        <h2>Visionneuse</h2>
        <hr class="my-2">
        <p>Choisir un format dans la liste puis cliquer sur le bouton "Exporter".</p>
        <div class="row">
            <div class="col-md-4">
            <!-- Upload form. Note enctype attribute! -->
            <form action="{% url 'download' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <select name="export_format" id="export_format" class="form-control" >
                    <option value="STL" > STL </option>
                    <option value="STEP" > STEP </option>
                    <option value="BREP" > BREP </option>
                    <option value="OBJ" > OBJ </option>
                    <option value="DAE" > DAE </option>
                    <option value="IGES" > IGES </option>
                    <option value="FCSTD" > FCStd </option>
                    <option value="PLY" > PLY </option>
                    <option value="BMS" > BMS </option>
                    <option value="AST" > AST </option>
                    <option value="OFF" > OFF </option>
                    <option value="IFC" > IFC </option>
                </select></br>
            </div>
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Exporter" />
            </div>
            </form>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Style de navigation</h3>
                <p><b>Rotation : Clic gauche</b></p>
                <p><b>Zoom : Clic molette</b></p>
                <hr class="my-2">
                {% if fcversion %}
                <p><b>FreeCAD Version : {{ fcversion }}</b></p>
                {% else %}
                <p><b>NO FreeCAD</b></p>
                {% endif %}
                <hr class="my-2">
                <p>Cette application est développée par <a href="https://www.freecad-france.com">Jonathan Wiedemann</a>.</p>
                <p>Le code source est sous licence LGPL v2.1
                <a href="https://framagit.org/freecad-france/FreeCADxConvert">FreeCADxConvert sur Framagit</a></p>
                <p>Vous en voulez plus ? Want more ?
                <a href="mailto:contact@freecad-france.com">contact@freecad-france.com</a></p>
            </div>
            <div class="col-md-8">
                <!-- <div id="webgl" style="border:1px solid black"></div> -->
                <div id="webgl" style="border:1px solid black;height:500px;"></div>
            </div>
        </div>
    </div>
</body>
</html>
